:root {
    --primary-color: #01161E;
    --secondary-color: #124559;
    --accent-color-one: #598392;
    --accent-color-two: #aec3b0;
    --accent-color-three: #eff6e0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 5em;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5rem;
}

h1 {
    color: var(--primary-color);
    font-family: "Baloo Paaji 2", Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: "Baloo Paaji 2", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

p {
    color: var(--primary-color);
    font-family: "Libre Franklin", sans-serif; 
}


.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}

.hero h1 {
    width: 100%;
    background-color: rgba(89, 131, 146, 0.3);
    text-align: center;
    position: absolute;
    bottom: 45rem;
}

.hero article {
    background-color: rgba(174, 195, 176, 0.6);
    width: 90%;
    height: 10rem;
    padding: 1rem;
    position: absolute;
    bottom: 32rem;
    left: 4rem;
    vertical-align: middle;
}

.hero article img {
    width: 200px;
    float: inline-end;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.img-section {
    display: block;
}

.sociallinks {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -30px;
    left: 550px;
}

.sociallinks a img {
    width: 2rem;
    height: auto;
    margin: 0 1rem;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 10fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 100vw;
}

.navigation {
	display: flex;
	list-style: none;
    text-align: right;
}

.navigation a {
	flex: 1 1 100%;
    display: block;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--accent-color-one);
	font-weight: 700;
	text-decoration: underline;
}

/* Styles for section history*/
.history {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 
        'title title title'
        'pharagraphOne figure pharagraphTwo';
    gap: 10px;
}

.item-1 {
    grid-area: title;
    text-align: center;
}

.item-p {
    padding: 1rem;
    align-content: center;
    text-align: justify;
}

.item-2{
    grid-area: pharagraphOne;
}

.item-3 {
    grid-area: figure;
}

.item-3 img{
    width: 400px;
    height: auto;
}

.item-3 figcaption {
    position: relative;
    top: -25px;
    left: 5px;
    color: var(--accent-color-three);
}

.item-4 {
    grid-area: pharagraphTwo;
}

/* Align section with figures */
.container {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

.item:nth-child(1) {
    flex: 1 1 100%;
    text-align: center;

}

.item-fig img {
    width: calc(100vw/5 - 50px);
    height: 300px;
}

/* Styles for footer */
footer {
    margin-top: 4rem;
}

footer p {
    text-align: center;
}
